.btn {
    color: white;
}




.text-dark{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    margin: 10px;
    font-style: italic;
}

.nav-link{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}



h6{
    font-size: 20px;
}




.card-cuerpo{
    text-align: center;
}

.img-card{
    width: 100%;
    height: 300px;
    
    border: 100px;
    border-color: black;
}

.card-titulo{
    text-align: center;
}

.card-texto{
    text-align: center;
}


--footer{
    padding: 0;
    margin: 0;
}

#CardFormulario{
    width: 150%;
    height: 300%;
    border: 0px;
    

}

#CardFormulario{
    width: 150%;
    height: 300%;
    border: 0px;
    

}


#form{
    width: 150%;
    height: 300%;
    border: 0px;
}

.card-header{
    width: 150%;
    height: 300%;
    border: 0px;

}

#ContainerFormulario{
    width: 150%;
    height: 300%;
    border: 0px;
    
}

#myTab{
    width: 150%;
    height: 300%;
    border: 0px;
}



  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #deaaff;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #deaaff;
    border: none;
    color: black;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }

  footer{
      padding-bottom: 0%;

      margin-bottom: 0%;

      
  }

  

  

/*Base*/
.form-login {
    width: 300px;
    height: 350px;
    background-color:rgba(178, 236, 247, 0.966);
    margin: auto;
    margin-top: 180px;
    margin-bottom: 10px;
    box-shadow: 7px 13px 37px white;
    padding: 20px 30px;
    border-top: 4px solid white;
    color: rgb(0, 0, 0);
  }




/* ajustar tamaño de botones*/
@media only screen and (min-width: 374px) and (max-width: 668px){
    .form-login {
        
        width: 300px;
        height: 350px;
        background-color:rgba(178, 236, 247, 0.966);
        margin: auto;
        margin-top: 180px;
        margin-bottom: 10px;
        box-shadow: 7px 13px 37px white;
        padding: 20px 30px;
        border-top: 4px solid white;
        color: rgb(0, 0, 0);
        margin-right: 50px;
        margin-left: 70px;
        

        
        
        
        }


} 


/*Base*/
.navbar {
    background-color: rgba(227, 172, 238, 0.966); 
    width: 100%;
}


/*Tamaño 1 nadvar*/
/* para que quede bueno falta reducir tamaño del logo en esta medida*/
/* ajustar tamaño de botones*/
@media only screen and (min-width: 280px) and (max-width: 400px) {
.navbar{
    background-color: rgba(227, 172, 238, 0.966); 
    width: 100%;
    margin-right: 100%;
    
    }
}

/*tamaño2 nadvar*/
/* ajustar tamaño de botones*/
@media only screen and (min-width: 912px) and (max-width: 947px) {
.navbar{
    background-color: rgba(227, 172, 238, 0.966); 
    width: 100%;
    
        }
    }


/*tamaño3 nadvar*/
/* ajustar tamaño de botones*/
@media only screen and (min-width: 1023px) and (max-width: 1600px) {
.navbar{
    background-color: rgba(227, 172, 238, 0.966); 
    width: 100%;
    
        }
    }

/* Inicio Estilos DashBoard */

:root {
    --primary: rgba(45, 161, 156, 0.966);
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }
  

/* Fin Estilos DashBoard */