<form class="form" role="form" autocomplete="off" method="POST">
    {% csrf_token %} 
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Rut</label>
      <div class="col-lg-9">
        {{form.rut_especialista}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
      <div class="col-lg-9">
        {{form.nombre_especialista}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
      <div class="col-lg-9">
        {{form.apellido_especialista}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Especialidad</label>
      <div class="col-lg-9">
        {{form.id_especialidad}}
      </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 text-center">
          <input type="reset" class="btn btn-secondary"  onclick="test();" value="Cancel">
          <input type="submit" class="btn btn-primary" 
              value="Save Changes">
        </div>
    </div>
</form>