<form class="formulario" id="formulario" role="form" autocomplete="off" method="POST">
    {% csrf_token %} 
    <div class="form-group row">
      <label class="controls" id ="error_form_rut" style="display:None;" ></label>
      <label class="col-lg-3 col-form-label form-control-label">Rut</label>
      <div class="col-lg-9">
        {{form.rut_especialista}}
      </div>
    </div>
    <div class="form-group row">
      <label class="controls" id ="error_form_nombre" style="display:None;" ></label>
      <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
      <div class="col-lg-9">
        {{form.nombre_especialista}}
      </div>
    </div>
    <div class="form-group row">
      <label class="controls" id ="error_form_apellido" style="display:None;" ></label>
      <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
      <div class="col-lg-9">
        {{form.apellido_especialista}}
      </div>
    </div>
    <div class="form-group row">
      <label class="controls" id ="error_form_especialidad" style="display:None;" ></label>
      <label class="col-lg-3 col-form-label form-control-label">Especialidad</label>
      <div class="col-lg-9">
        {{form.id_especialidad}}
      </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12 text-center">
          <input type="reset" class="btn btn-secondary"  value="Cancel">
          <input type="button" class="btn btn-primary" onclick="validaForm() ;" 
              value="Save Changes">
        </div>
    </div>
</form>