{% extends 'core/base.html' %}


{% load static %}

{% block boostrap %}

<link href="{% static '/tomaHora/css/estado-solicitud.css'%}" rel="stylesheet" type="text/css" >

{% endblock %}



{% block content %}

<div class="container">
    <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
      <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Pendientes</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " id="list-tab" data-toggle="tab" href="#form" role="tab" aria-controls="list" aria-selected="true">Completas</a>				   	
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
          <div class="card">
            <div class="card-header">
              <h4>Solicitudes</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="userList" class="table table-bordered table-hover table-striped">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">opciones</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    {% if listaSolic  %}
                    {% for list in listaSolic  %}
                    <tr>
                        <th scope="row">{{list.id_solicitud}}</th>
                        <td>{{list.hora}}</td>
                        <td>{{list.fecha}}</td>
                        <td>{{list.descripcion}}</td>
                        <td>
                          <a href="{% url 'modif-hora' list.id_solicitud %}"><i class="fas fa-edit"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                {% endif %}
                  </tbody>
                </table>
              </div>
  
            </div>
          </div>
        </div>
        <div class="tab-content" id="myTabContent"></div>
        <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="list-tab">
          <div class="card">
            <div class="card-header">
              <h4>Solicitudes</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="userList" class="table table-bordered table-hover table-striped">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rutt</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">opciones</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    {% if listaSolic  %}
                    {% for list in listaSolic  %}
                    <tr>
                        <th scope="row">{{list.id_solicitud}}</th>
                        <td>{{list.hora}}</td>
                        <td>{{list.fecha}}</td>
                        <td>{{list.descripcion}}</td>
                        <td>
                          <a href="{% url 'modif-hora' list.id_solicitud %}"><i class="fas fa-edit"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                {% endif %}
                  </tbody>
                </table>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}


