{% extends 'core/base.html' %}
{% load static %}
{% block boostrap %}

<link href="{% static '/tomaHora/css/style-tomaHra.css'%}" rel="stylesheet" >

{% endblock %}    

{% block title  %} MENU HORA {% endblock  %}

{% block content %}
{% if error %}
  <h2>Usted ya posee dos horas diarias </h2>
{% else %}
  <div class="container">
    <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
      <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Toma Tu hora</a>
        </li>
                    
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
          <div class="card">
            <div class="card-header">
              <h4>Toma Hora</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  
                <!-- agegra aqqui los combobox -->
                <label for="start">Desde:</label>

                <input type="date" id="start" name="trip-start"
                value="2022-07-19"
                min="2022-07-19" max="2018-12-31">
                <label for="start">Hasta:</label>

                <input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2018-12-31">

                <label for="cars">Area</label>
                  
                <select name="select-area" >

                
                {% if area %}
                  {% for area in area %}
                  <option value="{{area.nombre_area}}}">{{area.nombre_area}}</option>
                  {% endfor %}
                {% endif %}
                </select>
                <table id="userList" class="table table-bordered table-hover table-striped">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Especialista</th>
                    <th scope = "col">Area </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    {% if hora %}
                    {% for h in hora %}
                      <tbody>
                          <td name = "id_hora">{{h.id_hora}}</td>
                          <td name = "fecha_registro">{{h.fecha }}</td> 
                          <td name = "hora">{{h.hora }}</td>  
                          <td name = "id_especialista" >{{h.id_especialista }}</td>
                          <td name = "id_area">{{h.id_area }}</td>
                          <td style="text-align: center">
                            <a  href="{% url 'agregar-hora-medica' h.id_hora %}">
                              aaaa
                            </a>
                        </td>
                      </tbody>
                    {% endfor %}
                {% endif %}
                  </tr>
                  </tbody>
                </table>
              </div>
  
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}


          
{% endblock %}

{% block js %}


{% if messages %}
  {% for m in messages  %}
    <script>
      swal.fire({
        "title":"Error",
        "text":"{{m}}",
        "icon":"warning",
      })
    </script>
  {% endfor %}
  {% endif %}
{% endblock %}
