{% extends 'core/base.html' %} 

{% load static %}

{% block boostrap %}
<link href="static/registrarUsuario/css/registroUsuario.css" rel="stylesheet" >
<script src="static/registrarUsuario/js/validar_formulario.js"></script>
{% endblock %}
{% block title %}Registrar usuario{% endblock  %}

{% block content  %}

<form class="form" id="formulario" name="formulario" role="form" autocomplete="off" method="POST" >
    {% csrf_token %}  
    <section class="form-login" style="height: auto;">
        <label class="controls" id ="error_form_rut" style="display:None;" ></label>
        <input class="controls"  id="rut" type="text" name="rut" onclick="blanquearRut();" value="" placeholder="RUT">
        <label class="controls" id ="error_form_nombre" style="display:None;" ></label>
        <input class="controls" id="nombre" type="text" name="nombre" value="" placeholder="Nombre">
        <label class="controls" id ="error_form_Papellido" style="display:None;" ></label>
        <input class="controls" id="Papellido" type="text" name="apellido1" value="" placeholder="Primer apellido">
        <label class="controls" id ="error_form_Sapellido" style="display:None;" ></label>
        <input class="controls" id="Sapellido" type="text" name="apellido2" value="" placeholder="Segundo apellido">
        <label class="controls" id ="error_form_correo" style="display:None;" ></label>
        <input class="controls" id="correo" type="text" name="correo" value="" placeholder="Correo electronico">
        <label class="controls" id ="error_form_psw1" style="display:None;" ></label>
        <input class="controls" id="psw1" type="password" name="contrasena" value="" placeholder="Contraseña">
        <label class="controls" id ="error_form_psw2" style="display:None;" ></label>
        <input class="controls"  id="psw2" type="password" name="Rcontrasena" value="" placeholder="Confirmar Contraseña">
        <input class="buttons" type="button" name="" value="Registarse" onclick="validaForm();">
    </section>
</form>



{% endblock  %}
{% block js %}
{% if error %}
    {% if verificado %}
        {% if messages %}
            {% for m in messages  %}
            <script>
                swal.fire({
                "title":"Felicitaciones",
                "text":"{{m}}",
                "icon":"success",
                })
            </script>
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if messages %}
    {% for m in messages  %}
    <script>
        swal.fire({
        "title":"Error",
        "text":"{{m}}",
        "icon":"error",
        })
    </script>
    {% endfor %}
    {% endif %}
{% endif%}

{% endblock %}
