{% extends 'core/base.html' %}

{% load static %}
     


  
{% block title %} AgendaMedicamento {% endblock %}


{% block content %}
  <!--Body-->
  
{% if Receta %}
  {% for x in Receta %}
  <article >
    <div class="container" style="margin-top: 150px; ">
      <section id="menu{{x.id_receta}}">
        <a href="#menu{{x.id_receta}}">Retiro Medicamento</a>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966);"><strong>Fecha Retiro</strong></p>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966);">{{x.fecha_Retiro}}</p>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966);"><strong>Fecha Limite</strong></p>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966);">{{x.fecha_limite}}</p>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966);"><strong>Numero Receta</strong></p>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966);" >{{x.id_receta}}</p>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966); "><strong>Estado</strong></p>
        <p style="width: 200px; background-color: rgba(105, 218, 212, 0.966);"><strong>{{x.indicaciones}}</strong></p>
        
        <p style="color: rgb(255, 0, 0); width: 200px; background-color: rgba(105, 218, 212, 0.966);">{{x.estado}}</p>
      </section>
    </div>
  </article>
  {% endfor %}
  {% else %}
  <h5>Usted no presenta recetas por retirar </h5>
{% endif %}
  <br>

  <!--Fin body-->
{% endblock %}