<header>
    <div class="header-flex">
        <div class="logo-flex">
            <a href="{% url 'home' %}">
                <img
                    src=" ../static/core/img/925.png "  
                    alt="logo"
                    loading="lazy"
                      
                />
            </a>   <!-- 922 para telefono y 925 para escritorio -->   
        </div>
      
        {% if request.session.admin_login %}
        log out debe ir aca
        {% elif request.session.paciente_login %}
        log out debe ir aca
        {% elif request.session.farmaceutico_login %}
        log out debe ir aca
        {% else %}
            <div class="sesion-flex">
                <div class="navigation">

                    <a href="{% url 'login' %}"><button type="button" class="btn-ini  px-3 me-2" >
                        <i class="fa-solid fa-user"></i><br> Salir
                        </button></a>
  
                    
                  
                  <div class="logout">LOGOUT</div>
                
                    </a>
                  
                </div>
            </div>
        {% endif %}
    </div>

<br>

  
  
</header>