{% extends 'core/base.html' %}

{% load static %}

{% block boostrap %}
    <link href="{% static 'farmaceutico/css/style-formulario.css' %}" type="text/css" rel="stylesheet" >   
   <script src="{% static '../static/farmaceutico/js/validacion.js' %}"></script>
    
{% endblock %}

{% block title %} Modicar receta {% endblock %}

{% block content %}

{% if receta %}
    <p> receta.indicaciones </p>
{% endif %}
<div class="container  cont-form">
    <div class="row encabezado_form">
        <div class="  col-12 sm-4 ml-8 xl-12">
            <p clas="titulo_form" style="margin-bottom:0px!important;" > Respuesta: </p> 
        </div>
    </div>
    <div class="row fila_form">
        <div class="col-12 sm-4 ml-8 xl-12">
            <form class="formulario" id="formulario" name="formulario" role="form" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="form-group container_primer_form">
                    <label class="controls" id ="error_form_select" style="display:None;" ></label>
                    <label for="street1_id" class="control-label">Ingrese estado:</label>
                    <select class="form-control" id="state_id" name="estado_receta"  onclick="blanquearSelect();"> 
                        <option value="--" selected>------</option>
                        <option value="retirado">retirado</option>
                        <option value="no retirado">no retirado</option>
                    </select>
                </div> 
                <div class="form-group"> <!-- Descripcion de respuesta -->
                    <label class="controls" id ="error_form_descripcion" style="display:None;" ></label>
                    <label for="street1_id" class="control-label">Ingrese descripcion de respuesta:</label>
                    <textarea type="text" class="form-control" id="descripcion" name="respuesta_receta" placeholder="Descripcion" onclick="blanquearDescripcion();" ></textarea>
                </div>                    
                <div class="form-group"> <!-- Submit Button -->
                    <input type="Button" class="boton_enviar btn btn-success" onclick="validarForm() ;" 
                    value="Enviar respuesta">
                </div>     
            </form>
        </div>
    </div>
</div>




{% endblock  %}