.btn {
    color: white;
}






.text-dark{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    margin: 10px;
    font-style: italic;
}

.nav-link{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}



h6{
    font-size: 20px;
}




.card-cuerpo{
    text-align: center;
}

.img-card{
    width: 100%;
    height: 300px;
}

.card-titulo{
    text-align: center;
}

.card-texto{
    text-align: center;
}


footer{
    padding: 0;
    margin: 0;
}

#CardFormulario{
    width: 150%;
    height: 300%;
    border: 0px;
    

}

#CardFormulario{
    width: 150%;
    height: 300%;
    border: 0px;
    

}


#form{
    width: 150%;
    height: 300%;
    border: 0px;
}

.card-header{
    width: 150%;
    height: 300%;
    border: 0px;

}

#ContainerFormulario{
    width: 150%;
    height: 300%;
    border: 0px;
    
}

#myTab{
    width: 150%;
    height: 300%;
    border: 0px;
}
