/* 1601 hacia arriba */



/* general */
*{
  padding: 0;
  margin: 0;
}


h4{
  font-size: 30px;
  font-family: 'Trebuchet MS', sans-serif;
  font-style: strong;
  
}

h5{
  font-size: 25px;
  font-family: 'Trebuchet MS', sans-serif;
}
 





.container{

  margin-top: 0.1px;
  margin-bottom: -24px;


  
  
}







.header-flex{
  display: flex;
  background-color: rgba(251, 254, 251, 88%);
  flex-direction: row;
  
  
  
}

.btn-ini{
  background-color:#25647f;
  margin-top: 10px ;
  margin-right: 0px;
  padding-right: 0px;
  border-radius:10px;
  color: white;
}

.header-flex .logo-flex{

  align-items: flex-start;
  flex: 5 3 240px;
  padding-bottom: 35px;
  padding-top: 20px;
}

.header-flex .sesion-flex{
  
  align-items: flex-end;
  flex: 0 3 0px;

}
/* fin header */

/* inicio nav */
nav{
  background-color: #25647f;
  width: 100%;
  margin-top: -2%;
  color: white;  
  
  

 /*  height: 70px; */


  

  

}



.navbar-expand-lg{
  margin: 0% ; 
  padding: 0%;
   margin-bottom: 40px;
}

.navbar-toggler{
  text-align: center; width: 50%; height: 50px;
}

.nav-link{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);

  
  
  
  
}





/* fin nav */

/* inicio body */
body{
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  /* background-color: rgba(251, 254, 251, 50%); */
 
  
 }





.carousel-item{

  width: 100%; 
  height: 750px ;
  
}



/* .mask{
  background-color: rgba(251, 251, 251, 0.15);
} */

.text{
  font-family: 'Trebuchet MS', sans-serif;
  color: black;
  font-size: clamp (2rem, 20vw, 3rem);
}



.img-card{
  width: 100%;
  height: 300px;
  border: 100px;
  border-color: black;
}

.card-cuerpo{
  text-align: center;
}

.card-titulo{
  text-align: center;
}

.card-texto{
  text-align: center;
}


.text-dark{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 100%;
  margin: 10px;
  font-style: italic;
}



footer{
  margin-bottom: -30px;
}

.img-footer{
  width: 280px ;
  height: 140px;
}

/* fin footer */

article{
  background-color: rgba(251, 254, 251, 88%);
  margin-bottom: -5px;
  margin-top: -5px;
  padding-top: 70px;
  padding-bottom: 100px;
  
}














@media only screen and (min-width: 992px) and (max-width: 1328PX){

  *{
    padding: 0;
    margin: 0;
  }
  
  
  h4{
    font-size: 27px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: strong;
    
  }
  
  h5{
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
  }
   
  
  
  
  
  
  .container{
  
    margin-top: 30px;
    
    
  }
  
  

  
  .btn-ini{
    background-color:#25647f;
    margin-top: 10px ;
    margin-right: 0px;
    padding-right: 0px;
    border-radius:10px;
  }
  
  
  
  
  /* Fin General */
  /* header */
  .header-flex{
    display: flex;
    background-color: rgba(251, 254, 251, 88%);
    flex-direction: row;
    margin-bottom: -4px;
  }
  
  .header-flex .logo-flex{
  
    align-items: flex-start;
    flex: 5 3 240px;
  }
  
  .header-flex .sesion-flex{
    
    align-items: flex-end;
    flex: 0 3 0px;
  
  }
  /* fin header */
  
  /* inicio nav */
  nav{
    background-color: #ff0000;
    width: 100%;
    
  
    
    
    
  
  }
  .navbar-expand-lg{
    margin: 0% ; 
    padding: 0%;
     margin-bottom: 40px;
  }
  
  .navbar-toggler{
    text-align: center; width: 50%; height: 50px;
  }
  
  .nav-link{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
  }
  
  
  
  
  /* fin nav */
  
  /* inicio body */
  body{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    
   }
  
  
  .carousel-item{

    width: 100%;
    height: 500px;


    
  }
  
 
  
  /* .mask{
    background-color: rgba(251, 251, 251, 0.15);
  } */
  
  .text{
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    font-size: clamp (2rem, 20vw, 3rem);
  }
  
  
  
  
  
  
  .img-card{
    width: 100%;
    height: 200px;
    border: 100px;
    border-color: black;
  }
  
  .card-cuerpo{
    text-align: center;
  }
  
  .card-titulo{
    text-align: center;
  }
  
  .card-texto{
    text-align: center;
  }
  
  
  
  .text-dark{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    margin: 10px;
    font-style: italic;
  }
  
  
  
  footer{
    margin-bottom: -30px;
  }
  .artNavHead{
    background-color: rgba(251, 254, 251, 88%);
  }
  .artFoot{
    background-color: rgba(251, 254, 251, 88%);
  }
}

  
   

@media only screen and (min-width: 768px) and (max-width: 992px){

  *{
    padding: 0;
    margin: 0;
  }
  
  
  h4{
    font-size: 27px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: strong;
    
  }
  
  h5{
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
  }
   
  
  
  
  
  
  .container{
  
    margin-top: 30px;
    
    
  }
  
  
 
  
  .btn-ini{
    background-color:#25647f;
    margin-top: 10px ;
    margin-right: 0px;
    padding-right: 0px;
    border-radius:10px;
  }
  
  
  
  /* Fin General */
  /* header */
  .header-flex{
    display: flex;
    background-color: rgba(251, 254, 251, 88%);
    flex-direction: row;
    margin-bottom: -10px;
  }
  
  .header-flex .logo-flex{
  
    align-items: flex-start;
    flex: 5 3 240px;
  }
  
  .header-flex .sesion-flex{
    
    align-items: flex-end;
    flex: 0 3 0px;
  
  }
  /* fin header */
  
  /* inicio nav */
  nav{
    background-color: #00ff4c;
    width: 100%;
    
  
    
    
    
  
  }
  .navbar-expand-lg{
    margin: 0% ; 
    padding: 0%;
     margin-bottom: 40px;
  }
  
  .navbar-toggler{
    text-align: center; width: 50%; height: 50px;
  }
  
  .nav-link{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
  }
  
  
  
  
  /* fin nav */
  
  /* inicio body */
  body{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    
   }
  
  
  
  .carousel-item{

    width: 100%;
    height: 500px;


    
  }
  
  
  
  
  
  /* .mask{
    background-color: rgba(251, 251, 251, 0.15);
  } */
  
  .text{
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    font-size: clamp (2rem, 20vw, 3rem);
  }
  
  
  
  
  
  
  .img-card{
    width: 100%;
    height: 200px;
    border: 100px;
    border-color: black;
  }
  
  .card-cuerpo{
    text-align: center;
  }
  
  .card-titulo{
    text-align: center;
  }
  
  .card-texto{
    text-align: center;
  }
  
  
  
  .text-dark{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    margin: 10px;
    font-style: italic;
  }
  
  
 
  
  footer{
    margin-bottom: -30px;
  }
  
  article{

    margin-top: -30px;
    background-color: rgba(251, 254, 251, 88%);
    margin-bottom: -100px;
    margin-top: -2px;
    padding-top: 30px;
    padding-bottom: -400px;
    
  }
  
  

} 

  


@media only screen and (min-width: 480px) and (max-width: 768px){

  *{
    padding: 0;
    margin: 0;
  }
  
  
  h4{
    font-size: 27px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: strong;
    
  }
  
  h5{
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
  }
   
  
  
  
  
  
  .container{
  
    margin-top: 30px;
    
    
  }
  
  

  
  .btn-ini{
    background-color:#25647f;
    margin-top: 10px ;
    margin-right: 0px;
    padding-right: 0px;
    border-radius:10px;
  }
  
  
  
  /* Fin General */
  /* header */
  .header-flex{
    display: flex;
    background-color: rgba(251, 254, 251, 88%);
    flex-direction: row;
    margin-bottom: -15px;
  }
  
  .header-flex .logo-flex{
  
    align-items: flex-start;
    flex: 5 3 240px;
  }
  
  .header-flex .sesion-flex{
    
    align-items: flex-end;
    flex: 0 3 0px;
  
  }
  /* fin header */
  
  /* inicio nav */
  nav{
    background-color: #000000;
    width: 100%;
    
  
    
    
    
  
  }
  .navbar-expand-lg{
    margin: 0% ; 
    padding: 0%;
    margin-bottom: 40px;
  }
  
  .navbar-toggler{
    text-align: center; width: 50%; height: 50px;
  }
  
  .nav-link{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
  }
  
  
  
  
  /* fin nav */
  
  /* inicio body */
  body{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    
   }
  
  
  
  .carousel-item{

    width: 100%;
    height: 300px;


    
  }
  
  
  
  
  /* .mask{
    background-color: rgba(251, 251, 251, 0.15);
  } */
  
  .text{
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    font-size: clamp (2rem, 20vw, 3rem);
  }
  
 
  
 
  .img-card{
    width: 100%;
    height: 200px;
    border: 100px;
    border-color: black;
  }
  
  .card-cuerpo{
    text-align: center;
  }
  
  .card-titulo{
    text-align: center;
  }
  
  .card-texto{
    text-align: center;
  }
  
  
  
  .text-dark{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    margin: 10px;
    font-style: italic;
  }
  
  
  
  footer{
    margin-bottom: -30px;
  }
  
  article{
    background-color: rgba(251, 254, 251, 88%);
    margin-top: -1px;
    margin-bottom: -100px;
    padding-bottom: 200px;   
    padding-top: 5px; 
  }
  
  .img-footer{
    padding-left: 6vw;
    padding-right: 6vw;



  }

} 


@media only screen and (max-width: 480px){
  *{
    padding: 0;
    margin: 0;
  }
  
  
  h4{
    font-size: 23px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: strong;
    
  }
  
  h5{
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
  }
   
  
  
  
  
  
  .container{
  
    margin-top: 30px;
    
    
  }
  
  

  
  .btn-ini{
    background-color:#25647f;
    margin-top: 10px ;
    margin-right: 0px;
    padding-right: 0px;
    border-radius:10px;
  }
  
  
  
  /* Fin General */
  /* header */
  .header-flex{
    display: flex;
    background-color: rgba(251, 254, 251, 88%);
    flex-direction: row;
    margin-bottom: -18px;
  }
  
  .header-flex .logo-flex{
  
    align-items: flex-start;
    flex: 5 3 240px;
  }
  
  .header-flex .sesion-flex{
    
    align-items: flex-end;
    flex: 0 3 0px;
  
  }
  /* fin header */
  
  /* inicio nav */
  nav{
    background-color: rgb(233, 140, 35);
    width: 100%;
    
  
    
    
    
  
  }
  .navbar-expand-lg{
    margin: 0% ; 
    padding: 0%;
    margin-bottom: 40px;
  }
  
  .navbar-toggler{
    text-align: center; width: 50%; height: 50px;
  }
  
  .nav-link{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
  }
  
  
  
  
  /* fin nav */
  
  /* inicio body */
  body{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    
   }
  
  
  
  .carousel-item{

    width: 100%;
    height: 300px;


    
  }
  
  
  /* .mask{
    background-color: rgba(251, 251, 251, 0.15);
  } */
  
  .text{
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    font-size: clamp (2rem, 20vw, 3rem);
  }
  
  
  
  
  .img-card{
    width: 100%;
    height: 200px;
    border: 100px;
    border-color: black;
  }
  
  .card-cuerpo{
    text-align: center;
  }
  
  .card-titulo{
    text-align: center;
  }
  
  .card-texto{
    text-align: center;
  }
  
  
  
  .text-dark{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%;
    margin: 10px;
    font-style: italic;
  }
  
  
  
  footer{
    margin-bottom: -30px;
  }
  
  article{

    background-color: rgba(251, 254, 251, 88%);
    
    margin-top: -2px;
    margin-bottom: -100px;
    padding-top: 10px;
    padding-bottom: -60px;

    
  }
  
  .img-footer{
    padding-left: 6vw;
    padding-right: 6vw;



  }

} 


