{% extends 'core/base.html' %}

{% load static %}

{% block title %}Login{% endblock  %}

{% block boostrap %}
  <link href="static/login/css/style-login.css" rel="stylesheet" >
  <script  src="static/login/js/validacion_login.js"> </script>
{% endblock %}


{% block content %}
<form class="form" id = "formulario" name="formulario" role="form" autocomplete="off" method="POST">
  {% csrf_token %}
  <section class="form-login " >
      <label class = "fomr-label" id = "label_error" disabled></label>
    {{ form.usuario }}  {% comment %} Recordar a victor de donde saca estas funciones del formulario {% endcomment %}
    {{ form.password }}
    <input class="buttons" type="button" onClick="validaForm();" name="" value="Ingresar">
    <a href="{% url 'registrarUsuario' %}"><input class="buttons"   name="" value="Registrarse" ></a>
    <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
</form>
{% endblock %}

{% block js %}
{% if error %}
    {% if verificado %}
        {% if messages %}
            {% for m in messages  %}
            <script>
                swal.fire({
                "title":"Bienvenido",
                "text":"{{m}}",
                "icon":"success",
                })
            </script>
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if messages %}
    {% for m in messages  %}
    <script>
        swal.fire({
        "title":"Error",
        "text":"{{m}}",
        "icon":"error",
        })
    </script>
    {% endfor %}
    {% endif %}
{% endif%}

{% endblock %}